.navbar{
    background: #111;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar a{
    color: #fff !important;
}

.suggestion-list{
    background: #fff;
    height: 100px;
    overflow-y: scroll;
    z-index: 1000;
}